*{
    box-sizing: border-box;    
}

.voting_body {
    margin-left: 16%;
    padding: 1px;
    height: 100%;
    width:93%;
     float: auto; 
    background-color: rgb(167, 247, 180);
    position: fixed;
    overflow: scroll;
}

h2 {
    text-align: center;
    font-weight: bolder;
}

.v_input {
    padding: 6px;
    height: 70px;
    font-size: large;
    margin-right: 10px;
}

.v_label {
padding: 2px;
border: 2px solid grey;
font-size: large;
margin-left: 10px;
}

 .v_button {
     border: 2px solid grey;
     border-radius: 5px;
     text-shadow: grey;
     background-color: green;
     width: 100px;
     height: 30px;
     font-weight: bolder;
     font-size: large;
     margin-left: 43%;
     }


.Vote_ing {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}